body {
    height: 100vh;
    margin: 0;
    padding: 0;
    /* position: relative; */
    border:20px solid;
  }

.main{
  display:flex;
  width:100%;
  height:100%;
  flex-direction: column;
}

.content{
  background-color:crimson;
  display:flex;
  width:100%;
  height:90%;
}

.footer{
  background-color:black;
  width:100%;
  height:10%;
}

.left{
  width:20%;
  height:100%;
  background-color:purple
}

.right{
  display:flex;
  width:80%;
  height:100%;
  background-color: chocolate;
  flex-direction: column;
}

.heading{
  padding-top:30px;
  font-size:50px;
  text-align:center;
  height:5%;
  width:100%;
  /* border:20px solid black; */
}
.info{
  display:flex;
  /* background-color:rgb(63, 139, 78) */
}

.company-info{
  padding-top:50px;
  width:30%;
  height:100%;
  /* background-color: goldenrod; */
  text-align:justify;

}

.user-info{
  padding-top:75px;
  width:50%;
  height:100%;
  /* background-color:rgb(43, 38, 12); */
  text-align:center;
  vertical-align: middle;
}

ul{
  list-style-type: none;
}

/* #user-form{
  height:100%;
  width:100%;
  display:inline-block;
  background-color: aqua;
  vertical-align: middle;
} */

.formm{
  height:100%;
  width:100%;
  /* background-color: aqua; */
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  
}

/* .nav{
  padding-top:20px;
  padding-left:10px;
  text-align:justify;
}

.nav ul:nth-child(2){
  font-size: larger;
} */

footer {
  text-align: right;
  padding: 3px;
  color: white;
  background-color: black;
}

.formm > label{

  margin:10px;
  padding-left:30px
}

/* #msg{
  width:70%;
  height:50%;
  padding:20px 20px;
  box-sizing: border-box;
  margin:30px;
} */

/* .button{
  padding-left:30px;
  margin-left:30px;
} */

#msg-id{
  margin-bottom:40px
}
#send{
  
  width:100%;
}

.nav-top{
  height:60%;
  width:100%;
  margin-bottom:0px;
  border-bottom:5px solid black;
}
.nav-top li {
  padding:2px
  }