td
{
    border: 1px solid black
}
table{
    border-collapse: collapse;
    width: 100%;
}
ul{
    list-style: circle;
}
ol{
    list-style-type:decimal ;
}
#box1 {
    background-color: aquamarine;
}
#box2 {
    background-color: red;
}
.box {
    border: 5;

}

#my-form{
    border: 10px;
    border-color: rgb(35, 193, 26);
}

.nav{
    

}